Grupo:
- Lucas Ramírez
- Felipe Varas
- Diego Rojas

In [30]:
!pip install google_trans_new

Collecting google_trans_new
  Downloading google_trans_new-1.1.9-py3-none-any.whl (9.2 kB)
Installing collected packages: google-trans-new
Successfully installed google-trans-new-1.1.9

In [32]:
import pandas as pd
import sqlalchemy
import psycopg2
from google_trans_new import google_translator

In [2]:
file = pd.read_csv("Supermarket sales.csv")
file

     Invoice ID;Branch;City;Customer type;Gender;Product line;Unit price;Quantity;Tax 5%;Total;Date;Time;Payment;cogs;gross margin percentage;gross income;Rating
0     750-67-8428;A;Yangon;Member;Female;Health and ...
1     226-31-3081;C;Naypyitaw;Normal;Female;Electron...
2     631-41-3108;A;Yangon;Normal;Male;Home and life...
3     123-19-1176;A;Yangon;Member;Male;Health and be...
4     373-73-7910;A;Yangon;Normal;Male;Sports and tr...
...                                                 ...
2495  063-71-2460;A;Naypyitaw;Member;Male;Electronic...
2496  305-42-4107;C;Yangon;Normal;Female;Health and ...
2497  716-40-0417;A;Yangon;Member;Male;Electronic ac...
2498  706-85-4344;C;Mandalay;Normal;Female;Fashion a...
2499  372-16-3034;A;Mandalay;Normal;Female;Fashion a...

[2500 rows x 1 columns]

separar por ;

In [7]:
file2 = pd.read_csv("Supermarket sales.csv",delimiter = ";")
file2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,Member,Male,Electronic accessories,88.39,6,26.5170,556.8570,3/16/2019,15:10,Ewallet,530.34,4.761905,26.5170,7.6
2496,305-42-4107,C,Yangon,Normal,Female,Health and beauty,35.54,7,12.4390,261.2190,3/6/2019,18:23,Credit card,248.78,4.761905,12.4390,6.0
2497,716-40-0417,A,Yangon,Member,Male,Electronic accessories,62.65,4,12.5300,263.1300,1/20/2019,17:24,Cash,250.60,4.761905,12.5300,8.1
2498,706-85-4344,C,Mandalay,Normal,Female,Fashion accessories,97.50,10,48.7500,1023.7500,1/31/2019,19:39,Cash,975.00,4.761905,48.7500,9.5
2499,372-16-3034,A,Mandalay,Normal,Female,Fashion accessories,32.25,4,6.4500,135.4500,2/16/2019,10:42,Ewallet,129.00,4.761905,6.4500,9.7

Comenzamos a traducir

In [34]:
translator = google_translator() 
lista = ["Tu mama", "es", "puta"]
translate_text = translator.translate('สวัสดีจีน',lang_tgt='en')

JSONDecodeError: Extra data: line 1 column 338 (char 337)