In [1]:
import pandas as pd
import sqlalchemy
import psycopg2
from datetime import datetime
import copy
from decimal import *
import time

In [39]:

file = pd.read_csv('Supermarket sales.csv', delimiter = ";")

Wall time: 11 ms

# Se pide traducir  Customer type, Gender, Product Line, Payment
Buscar cuantas cantidades de datos distintos de datos a traducir hay, para saber si es necesario ocupar alguna especie de librer√≠a para traducir o simplemente lo "hacemos a mano"

In [38]:

tipo_cliente = file.groupby("Customer type").size()
tipo_cliente

Wall time: 1 ms

Customer type
normal    1279
socio     1221
dtype: int64

In [4]:
genero = file.groupby("Gender").size()
genero

Gender
Female    1274
Male      1226
dtype: int64

In [5]:
linea_producto = file.groupby("Product line").size()
linea_producto

Product line
Electronic accessories    438
Fashion accessories       450
Food and beverages        412
Health and beauty         381
Home and lifestyle        407
Sports and travel         412
dtype: int64

In [6]:
pago = file.groupby("Payment").size()
pago

Payment
Cash           852
Credit card    790
Ewallet        858
dtype: int64

Hay 13 tipos de datos distintos a traducir a lo largo del csv

## Traduciendo Customer type

In [7]:
file["Customer type"].replace({"Member":"socio","Normal":"normal"},inplace = True)
file

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,socio,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,socio,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,Male,Electronic accessories,88.39,6,26.5170,556.8570,3/16/2019,15:10,Ewallet,530.34,4.761905,26.5170,7.6
2496,305-42-4107,C,Yangon,normal,Female,Health and beauty,35.54,7,12.4390,261.2190,3/6/2019,18:23,Credit card,248.78,4.761905,12.4390,6.0
2497,716-40-0417,A,Yangon,socio,Male,Electronic accessories,62.65,4,12.5300,263.1300,1/20/2019,17:24,Cash,250.60,4.761905,12.5300,8.1
2498,706-85-4344,C,Mandalay,normal,Female,Fashion accessories,97.50,10,48.7500,1023.7500,1/31/2019,19:39,Cash,975.00,4.761905,48.7500,9.5
2499,372-16-3034,A,Mandalay,normal,Female,Fashion accessories,32.25,4,6.4500,135.4500,2/16/2019,10:42,Ewallet,129.00,4.761905,6.4500,9.7

## Traduciendo Gender

In [37]:

file["Gender"].replace({"Female":"femenino","Male":"masculino"},inplace = True)
file

Wall time: 1e+03 ¬µs

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,socio,femenino,salud y belleza,74.69,7,26.1415,548.9715,05/01/2019,13:08,billetera Electr√≥nica,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,normal,femenino,accesorios electr√≥nicos,15.28,5,3.8200,80.2200,08/03/2019,10:29,efectivo,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,normal,masculino,hogar y estilo de vida,46.33,7,16.2155,340.5255,03/03/2019,13:23,tarjeta de Cr√©dito,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,socio,masculino,salud y belleza,58.22,8,23.2880,489.0480,27/01/2019,20:33,billetera Electr√≥nica,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,normal,masculino,deportes y viajes,86.31,7,30.2085,634.3785,08/02/2019,10:37,billetera Electr√≥nica,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,masculino,accesorios electr√≥nicos,88.39,6,26.5170,556.8570,16/03/2019,15:10,billetera Electr√≥nica,530.34,4.761905,26.5170,7.6
2496,305-42-4107,C,Yangon,normal,femenino,salud y belleza,35.54,7,12.4390,261.2190,06/03/2019,18:23,tarjeta de Cr√©dito,248.78,4.761905,12.4390,6.0
2497,716-40-0417,A,Yangon,socio,masculino,accesorios electr√≥nicos,62.65,4,12.5300,263.1300,20/01/2019,17:24,efectivo,250.60,4.761905,12.5300,8.1
2498,706-85-4344,C,Mandalay,normal,femenino,complementos de moda,97.50,10,48.7500,1023.7500,31/01/2019,19:39,efectivo,975.00,4.761905,48.7500,9.5
2499,372-16-3034,A,Mandalay,normal,femenino,complementos de moda,32.25,4,6.4500,135.4500,16/02/2019,10:42,billetera Electr√≥nica,129.00,4.761905,6.4500,9.7

# #Traduciendo Product line

In [9]:
file["Product line"].replace({"Electronic accessories":"accesorios electr√≥nicos","Fashion accessories":"complementos de moda",
                              "Food and beverages":"alimentos y bebidas","Health and beauty":"salud y belleza",
                              "Home and lifestyle":"hogar y estilo de vida",
                              "Sports and travel":"deportes y viajes"},inplace = True)
file

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,socio,femenino,salud y belleza,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,normal,femenino,accesorios electr√≥nicos,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,normal,masculino,hogar y estilo de vida,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,socio,masculino,salud y belleza,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,normal,masculino,deportes y viajes,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,masculino,accesorios electr√≥nicos,88.39,6,26.5170,556.8570,3/16/2019,15:10,Ewallet,530.34,4.761905,26.5170,7.6
2496,305-42-4107,C,Yangon,normal,femenino,salud y belleza,35.54,7,12.4390,261.2190,3/6/2019,18:23,Credit card,248.78,4.761905,12.4390,6.0
2497,716-40-0417,A,Yangon,socio,masculino,accesorios electr√≥nicos,62.65,4,12.5300,263.1300,1/20/2019,17:24,Cash,250.60,4.761905,12.5300,8.1
2498,706-85-4344,C,Mandalay,normal,femenino,complementos de moda,97.50,10,48.7500,1023.7500,1/31/2019,19:39,Cash,975.00,4.761905,48.7500,9.5
2499,372-16-3034,A,Mandalay,normal,femenino,complementos de moda,32.25,4,6.4500,135.4500,2/16/2019,10:42,Ewallet,129.00,4.761905,6.4500,9.7

## Traduciendo payment

In [36]:

file["Payment"].replace({"Ewallet":"billetera Electr√≥nica","Cash":"efectivo","Credit card":"tarjeta de Cr√©dito"},inplace = True)
file

Wall time: 2 ms

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,socio,femenino,salud y belleza,74.69,7,26.1415,548.9715,05/01/2019,13:08,billetera Electr√≥nica,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,normal,femenino,accesorios electr√≥nicos,15.28,5,3.8200,80.2200,08/03/2019,10:29,efectivo,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,normal,masculino,hogar y estilo de vida,46.33,7,16.2155,340.5255,03/03/2019,13:23,tarjeta de Cr√©dito,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,socio,masculino,salud y belleza,58.22,8,23.2880,489.0480,27/01/2019,20:33,billetera Electr√≥nica,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,normal,masculino,deportes y viajes,86.31,7,30.2085,634.3785,08/02/2019,10:37,billetera Electr√≥nica,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,masculino,accesorios electr√≥nicos,88.39,6,26.5170,556.8570,16/03/2019,15:10,billetera Electr√≥nica,530.34,4.761905,26.5170,7.6
2496,305-42-4107,C,Yangon,normal,femenino,salud y belleza,35.54,7,12.4390,261.2190,06/03/2019,18:23,tarjeta de Cr√©dito,248.78,4.761905,12.4390,6.0
2497,716-40-0417,A,Yangon,socio,masculino,accesorios electr√≥nicos,62.65,4,12.5300,263.1300,20/01/2019,17:24,efectivo,250.60,4.761905,12.5300,8.1
2498,706-85-4344,C,Mandalay,normal,femenino,complementos de moda,97.50,10,48.7500,1023.7500,31/01/2019,19:39,efectivo,975.00,4.761905,48.7500,9.5
2499,372-16-3034,A,Mandalay,normal,femenino,complementos de moda,32.25,4,6.4500,135.4500,16/02/2019,10:42,billetera Electr√≥nica,129.00,4.761905,6.4500,9.7

## Cambiar formato fecha

Antes:

In [35]:

print(file["Date"])

0       05/01/2019
1       08/03/2019
2       03/03/2019
3       27/01/2019
4       08/02/2019
           ...
2495    16/03/2019
2496    06/03/2019
2497    20/01/2019
2498    31/01/2019
2499    16/02/2019
Name: Date, Length: 2500, dtype: object
Wall time: 1 ms

Despu√©s:

In [12]:
def transform_fecha(fecha):
    new_fecha = datetime.strptime(fecha, '%m/%d/%Y').strftime("%d/%m/%Y")
    return new_fecha

file["Date"] = file["Date"].transform(transform_fecha)

## Verificando que total est√© correcto

In [13]:
#creamos una copia de nuestro file
#agregamos una columna de verificacion para el total
#se calcula un margen de error menor a 0.01 solamente para tomar en cuenta posibles errores de formato

fileAux = copy.copy(file)
fileAux["verificador"] = ""


for i in range(len(fileAux)):
    cogs = fileAux.loc[i,"Quantity"] * fileAux.loc[i,"Unit price"]
    tax = cogs * 0.05
    fileAux.loc[i,"cogs"] = cogs
    fileAux.loc[i,"Tax 5%"] = tax
    fileAux.loc[i,"Total"] = cogs + tax

fileAux

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,verificador
0,750-67-8428,A,Yangon,socio,femenino,salud y belleza,74.69,7,26.1415,548.9715,05/01/2019,13:08,billetera Electr√≥nica,522.83,4.761905,26.1415,9.1,
1,226-31-3081,C,Naypyitaw,normal,femenino,accesorios electr√≥nicos,15.28,5,3.8200,80.2200,08/03/2019,10:29,efectivo,76.40,4.761905,3.8200,9.6,
2,631-41-3108,A,Yangon,normal,masculino,hogar y estilo de vida,46.33,7,16.2155,340.5255,03/03/2019,13:23,tarjeta de Cr√©dito,324.31,4.761905,16.2155,7.4,
3,123-19-1176,A,Yangon,socio,masculino,salud y belleza,58.22,8,23.2880,489.0480,27/01/2019,20:33,billetera Electr√≥nica,465.76,4.761905,23.2880,8.4,
4,373-73-7910,A,Yangon,normal,masculino,deportes y viajes,86.31,7,30.2085,634.3785,08/02/2019,10:37,billetera Electr√≥nica,604.17,4.761905,30.2085,5.3,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,masculino,accesorios electr√≥nicos,88.39,6,26.5170,556.8570,16/03/2019,15:10,billetera Electr√≥nica,530.34,4.761905,26.5170,7.6,
2496,305-42-4107,C,Yangon,normal,femenino,salud y belleza,35.54,7,12.4390,261.2190,06/03/2019,18:23,tarjeta de Cr√©dito,248.78,4.761905,12.4390,6.0,
2497,716-40-0417,A,Yangon,socio,masculino,accesorios electr√≥nicos,62.65,4,12.5300,263.1300,20/01/2019,17:24,efectivo,250.60,4.761905,12.5300,8.1,
2498,706-85-4344,C,Mandalay,normal,femenino,complementos de moda,97.50,10,48.7500,1023.7500,31/01/2019,19:39,efectivo,975.00,4.761905,48.7500,9.5,
2499,372-16-3034,A,Mandalay,normal,femenino,complementos de moda,32.25,4,6.4500,135.4500,16/02/2019,10:42,billetera Electr√≥nica,129.00,4.761905,6.4500,9.7,

## Verificando que Tax 5% est√© correcto

In [14]:
fileAux["verificador"] = ""


for i in range(len(fileAux)):
    suma = fileAux.loc[i,"cogs"] * 0.05
    margen_error = fileAux.loc[i,"Tax 5%"] - suma
    fileAux.loc[i,"verificador"] = (margen_error<0.0001 and margen_error>-0.0001)

verificador = fileAux.groupby("verificador").size()
verificador

verificador
True    2500
dtype: int64

## Verificando que cogs est√© correcto

In [15]:
fileAux = copy.copy(file)
fileAux["verificador"] = ""

for i in range(len(fileAux)):
    suma = fileAux.loc[i,"Unit price"] * fileAux.loc[i,"Quantity"]
    margen_error = fileAux.loc[i,"cogs"] - suma
    fileAux.loc[i,"verificador"] = (margen_error<0.0001 and margen_error>-0.0001)

verificador = fileAux.groupby("verificador").size()
verificador

verificador
True    2500
dtype: int64

## Verificando que gross income sea equivalente al Tax 5%

In [34]:

fileAux = copy.copy(file)
fileAux["verificador"] = ""

for i in range(len(fileAux)):
    margen_error = fileAux.loc[i,"gross income"] - fileAux.loc[i,"Tax 5%"]
    fileAux.loc[i,"verificador"] = (margen_error<0.0001 and margen_error>-0.0001)

verificador = fileAux.groupby("verificador").size()
verificador

Wall time: 722 ms

verificador
True    2500
dtype: int64

In [17]:
fileAux

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,verificador
0,750-67-8428,A,Yangon,socio,femenino,salud y belleza,74.69,7,26.1415,548.9715,05/01/2019,13:08,billetera Electr√≥nica,522.83,4.761905,26.1415,9.1,True
1,226-31-3081,C,Naypyitaw,normal,femenino,accesorios electr√≥nicos,15.28,5,3.8200,80.2200,08/03/2019,10:29,efectivo,76.40,4.761905,3.8200,9.6,True
2,631-41-3108,A,Yangon,normal,masculino,hogar y estilo de vida,46.33,7,16.2155,340.5255,03/03/2019,13:23,tarjeta de Cr√©dito,324.31,4.761905,16.2155,7.4,True
3,123-19-1176,A,Yangon,socio,masculino,salud y belleza,58.22,8,23.2880,489.0480,27/01/2019,20:33,billetera Electr√≥nica,465.76,4.761905,23.2880,8.4,True
4,373-73-7910,A,Yangon,normal,masculino,deportes y viajes,86.31,7,30.2085,634.3785,08/02/2019,10:37,billetera Electr√≥nica,604.17,4.761905,30.2085,5.3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,masculino,accesorios electr√≥nicos,88.39,6,26.5170,556.8570,16/03/2019,15:10,billetera Electr√≥nica,530.34,4.761905,26.5170,7.6,True
2496,305-42-4107,C,Yangon,normal,femenino,salud y belleza,35.54,7,12.4390,261.2190,06/03/2019,18:23,tarjeta de Cr√©dito,248.78,4.761905,12.4390,6.0,True
2497,716-40-0417,A,Yangon,socio,masculino,accesorios electr√≥nicos,62.65,4,12.5300,263.1300,20/01/2019,17:24,efectivo,250.60,4.761905,12.5300,8.1,True
2498,706-85-4344,C,Mandalay,normal,femenino,complementos de moda,97.50,10,48.7500,1023.7500,31/01/2019,19:39,efectivo,975.00,4.761905,48.7500,9.5,True
2499,372-16-3034,A,Mandalay,normal,femenino,complementos de moda,32.25,4,6.4500,135.4500,16/02/2019,10:42,billetera Electr√≥nica,129.00,4.761905,6.4500,9.7,True

In [30]:
fileAux = copy.copy(file)
fileAux["verificador"] = ""


for i in range(len(fileAux)):
    margen_error = (fileAux.loc[i,"gross income"]*100 /fileAux.loc[i,"Total"]) - fileAux.loc[i,"gross margin percentage"]
    fileAux.loc[i,"verificador"] = (margen_error<0.0001 and margen_error>-0.0001)

%timeit -n 10 -r 1 for i in range(len(fileAux)): margen_error = (fileAux.loc[i,"gross income"]*100 /fileAux.loc[i,"Total"]) - fileAux.loc[i,"gross margin percentage"];fileAux.loc[i,"verificador"] = (margen_error<0.0001 and margen_error>-0.0001)
verificador = fileAux.groupby("verificador").size()
verificador

802 ms ¬± 0 ns per loop (mean ¬± std. dev. of 1 run, 10 loops each)

verificador
True    2500
dtype: int64

In [19]:
for i in range(len(fileAux)):
    fileAux.loc[i,"Tax 5%"] = round(fileAux.loc[i,"Tax 5%"],2)
    fileAux.loc[i,"Total"] = round(fileAux.loc[i,"Total"],2)
    fileAux.loc[i,"cogs"] = round(fileAux.loc[i,"cogs"],2)
    fileAux.loc[i,"gross margin percentage"] = round(fileAux.loc[i,"gross margin percentage"],2)
    fileAux.loc[i,"gross income"] = round(fileAux.loc[i,"gross income"],2)
fileAux

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,verificador
0,750-67-8428,A,Yangon,socio,femenino,salud y belleza,74.69,7,26.14,548.97,05/01/2019,13:08,billetera Electr√≥nica,522.83,4.76,26.14,9.1,True
1,226-31-3081,C,Naypyitaw,normal,femenino,accesorios electr√≥nicos,15.28,5,3.82,80.22,08/03/2019,10:29,efectivo,76.40,4.76,3.82,9.6,True
2,631-41-3108,A,Yangon,normal,masculino,hogar y estilo de vida,46.33,7,16.22,340.53,03/03/2019,13:23,tarjeta de Cr√©dito,324.31,4.76,16.22,7.4,True
3,123-19-1176,A,Yangon,socio,masculino,salud y belleza,58.22,8,23.29,489.05,27/01/2019,20:33,billetera Electr√≥nica,465.76,4.76,23.29,8.4,True
4,373-73-7910,A,Yangon,normal,masculino,deportes y viajes,86.31,7,30.21,634.38,08/02/2019,10:37,billetera Electr√≥nica,604.17,4.76,30.21,5.3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,masculino,accesorios electr√≥nicos,88.39,6,26.52,556.86,16/03/2019,15:10,billetera Electr√≥nica,530.34,4.76,26.52,7.6,True
2496,305-42-4107,C,Yangon,normal,femenino,salud y belleza,35.54,7,12.44,261.22,06/03/2019,18:23,tarjeta de Cr√©dito,248.78,4.76,12.44,6.0,True
2497,716-40-0417,A,Yangon,socio,masculino,accesorios electr√≥nicos,62.65,4,12.53,263.13,20/01/2019,17:24,efectivo,250.60,4.76,12.53,8.1,True
2498,706-85-4344,C,Mandalay,normal,femenino,complementos de moda,97.50,10,48.75,1023.75,31/01/2019,19:39,efectivo,975.00,4.76,48.75,9.5,True
2499,372-16-3034,A,Mandalay,normal,femenino,complementos de moda,32.25,4,6.45,135.45,16/02/2019,10:42,billetera Electr√≥nica,129.00,4.76,6.45,9.7,True

In [28]:
dicc = { 'Invoice ID': 'id_factura', 'Branch':'rama', 'City':'ciudad','Customer type':'tipo_cliente',
         'Gender':'genero','Product line':'linea_producto','Unit price':'precio_unidad','Quantity':'cantidad',
         'Date':'fecha','Time':'hora','Payment':'pago','cogs':'costo_productos','gross_margin_percentage':'porcentaje_ganancias',
         'gross income':'ingreso_bruto','Tax 5%':'impuesto','Rating':'nota'}

for key in dicc:
    fileAux.rename(columns=({key:dicc[key]}),inplace = True)
    
%timeit -n 10 -r 1 for key in dicc: fileAux.rename(columns=({key:dicc[key]}),inplace = True)

fileAux

3.94 ms ¬± 0 ns per loop (mean ¬± std. dev. of 1 run, 10 loops each)

,id_factura,rama,ciudad,tipo_cliente,genero,linea_producto,precio_unidad,cantidad,impuesto,Total,fecha,hora,pago,costo_productos,gross margin percentage,ingreso_bruto,nota,verificador
0,750-67-8428,A,Yangon,socio,femenino,salud y belleza,74.69,7,26.1415,548.9715,05/01/2019,13:08,billetera Electr√≥nica,522.83,4.761905,26.1415,9.1,True
1,226-31-3081,C,Naypyitaw,normal,femenino,accesorios electr√≥nicos,15.28,5,3.8200,80.2200,08/03/2019,10:29,efectivo,76.40,4.761905,3.8200,9.6,True
2,631-41-3108,A,Yangon,normal,masculino,hogar y estilo de vida,46.33,7,16.2155,340.5255,03/03/2019,13:23,tarjeta de Cr√©dito,324.31,4.761905,16.2155,7.4,True
3,123-19-1176,A,Yangon,socio,masculino,salud y belleza,58.22,8,23.2880,489.0480,27/01/2019,20:33,billetera Electr√≥nica,465.76,4.761905,23.2880,8.4,True
4,373-73-7910,A,Yangon,normal,masculino,deportes y viajes,86.31,7,30.2085,634.3785,08/02/2019,10:37,billetera Electr√≥nica,604.17,4.761905,30.2085,5.3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,063-71-2460,A,Naypyitaw,socio,masculino,accesorios electr√≥nicos,88.39,6,26.5170,556.8570,16/03/2019,15:10,billetera Electr√≥nica,530.34,4.761905,26.5170,7.6,True
2496,305-42-4107,C,Yangon,normal,femenino,salud y belleza,35.54,7,12.4390,261.2190,06/03/2019,18:23,tarjeta de Cr√©dito,248.78,4.761905,12.4390,6.0,True
2497,716-40-0417,A,Yangon,socio,masculino,accesorios electr√≥nicos,62.65,4,12.5300,263.1300,20/01/2019,17:24,efectivo,250.60,4.761905,12.5300,8.1,True
2498,706-85-4344,C,Mandalay,normal,femenino,complementos de moda,97.50,10,48.7500,1023.7500,31/01/2019,19:39,efectivo,975.00,4.761905,48.7500,9.5,True
2499,372-16-3034,A,Mandalay,normal,femenino,complementos de moda,32.25,4,6.4500,135.4500,16/02/2019,10:42,billetera Electr√≥nica,129.00,4.761905,6.4500,9.7,True

In [22]:
engine = sqlalchemy.create_engine('postgresql://postgres:password@localhost:5432/supermarket')
fileAux.to_sql('compras',engine,if_exists='replace',index=False)
%timeit -n 10 -r 1 fileAux.to_sql('compras',engine,if_exists='replace',index=False)

0.2818918228149414
207 ms ¬± 0 ns per loop (mean ¬± std. dev. of 1 run, 10 loops each)